$fs-logo: 2.5rem;
$fs-primary: 2rem;
$fs-secondary: 1.5rem;
$fs-one: 1rem;
$fs-middle: 1.1rem;
$fs-small: 0.8rem;

$color-main: #faf5ef;
$color-green: #4e7443;
$color-lgreen: #eaecdf;
$color-black: RGBA(1, 1, 1, 1);
$color-lg: #fcfdfd;
$color-lg-2: #f8f9fb;
$color-mg: #e5e7eb;
$color-mg-2: #a6a7ab;
$color-dg: #555;
$color-white: RGBA(253, 253, 253, 1);
$color-white-tr: RGBA(251,247,236,0.9);
$color-beige: RGBA(248,237,218,1);
$color-beige-l: #fbf8f4;
$color-lb: #d0e4f7;
$color-mb: #a8cfee;
$color-db: #87b9e0;
// $color-sb: #38bdf8;
$color-sb: #6357a9;
$color-hover:#4e31e2;
// $color-navy: #1a73e8;
$color-navy: #2c148f;
$color-navy-d: #2a2a67;
$color-red: red;
$color-yellow: #f4db34;
$color-orange: #f39112;
$color-orange-gr: linear-gradient(241deg,rgba(251, 164, 33, 1) 0%, rgba(232, 115, 9, 1) 100%);

$b-r: 2rem;

$b-sh: 0 4px 12px rgba(0,0,0,0.08);