@use "../core/variables" as *;
@use "../core/mixins" as *;

:root, html { color-scheme: light; }

* {
    box-sizing: border-box;
}

body {
	font-family: "Encode Sans", sans-serif;
	font-size: $fs-one;
	background: $color-main;
}
input,
textarea, 
select {
	background: $color-white;
    border: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
p {
	padding: 0.5rem 0;
}
h1 {
	font-family: "Montserrat", sans-serif;
  	font-weight: 700;
  	font-style: normal;
	color: $color-navy;
	grid-area: title;
	line-height: 2.5rem;
	font-size: $fs-logo;
	font-weight: 700;
}
h2 {
	font-size: $fs-middle;
	text-transform: uppercase;
	line-height: 1.6rem;
}
h3 {
	font-size: $fs-one;
	text-transform: uppercase;
}
h4 {
	font-size: $fs-secondary;
	font-weight: 700;
	color: $color-navy;
}

footer {
	grid-area: footer;
	display:grid;
	grid-template-columns: 1fr;
	text-align: center;
	padding: 1.5rem 0;
	box-shadow: inset 0 4px 6px rgba(0,0,0,0.2);
	background: $color-lgreen;
	color: $color-navy;
}

@media (max-width: 575.98px) {
	h2, h3 {
		font-size: $fs-small;
	}
	button {
		flex: 1;
		min-width: 150px;
	}
}

@media (forced-colors: active) { * { forced-color-adjust: none; } }